<%- include("../default/header") %>
<form action="/member/login_check" method="get">
    <input type="text" name="id"><br>
    <input type="text" name="name"><br>
    <input type="submit" value="로그인"><br>
</form>